*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $font-sans;
  font-size: $font-size-default;
  min-height: 100vh;
  overflow-y: scroll;
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: $color-pri;
}
body::-webkit-scrollbar-track {
  background-color: $color-dar;
}

a {
  font-weight: 400;
  text-decoration: none;
  color: $color_dar;
  &:hover {
    background-color: $color_pri;
  }
}

img,
svg {
  display: inline-block;
  width: 100%;
}

svg {
  width: $icon-size-md;
  height: $icon-size-md;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h1 {
  font-size: 34px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}

p {
  margin-bottom: 1rem;
  font-size: $font-size-default;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.small,
small {
  font-size: $font-size-sm;
  letter-spacing: 0.3px;
}

b {
  font-weight: 800;
}

code,
.code {
  font-family: $font-code;
  line-height: 1.4;
}

.font-xxl,
.font-xl,
.font-x {
  width: 100%;
  text-align: center;
  margin: 20px auto 10px;
  display: block;
}
.font-xxl {
  max-width: 480px;
  letter-spacing: -10px;
  font-size: 136px;
  line-height: 116px;
  font-weight: 900;
}
.font-xl {
  letter-spacing: -2.5px;
  font-size: 58px;
  line-height: 1.1;
  font-weight: 600;
}
.font-x {
  letter-spacing: -1.25px;
  font-size: 38px;
  line-height: 44px;
}

.font-code {
  font-family: $font-code;
}

button,
input,
textarea {
  outline: none;
  border: none;
  padding: $spacing-md;
}
textarea {
  resize: vertical;
  padding: $spacing-sm;
}
input,
textarea {
  width: 100%;
}

hr {
  border-top: 1px solid $color_dis;
  opacity: 0.3;
}

//
.question {
  padding: $spacing-sm $spacing-sm $spacing-sm $spacing-md;
  background-color: $color_lig;
  margin-bottom: $spacing-md;
  box-shadow: $shadow-2;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

// main menu
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// image
.avatar {
  width: 50px;
  height: 50px;
}
.image {
  box-shadow: $shadow-1;
  border: $spacing-sm solid white;
}

// div
.section {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: $spacing-lg;
}
.section:nth-child(even) {
  background-color: $color_lig;
}

.radius {
  border-radius: $spacing-sm;
}
