.input-container {
  margin-bottom: $spacing-md;
  box-shadow: $shadow-1;
  background-color: $color_lig;
  padding: $spacing-sm;
  border-radius: 2px;

  label {
    display: inline-block;
    color: $color_dar;
    font-size: $font-size-sm;
    margin-bottom: $spacing-sm;
  }

  input {
    background-color: white;
  }

  textarea {
    background-color: white;
  }
}

.input-field {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: $spacing-md;

  > svg {
    margin-left: $spacing-md;
    margin-right: $spacing-md;
    color: $color_dar;
  }

  label {
    display: flex;
    align-items: center;
    color: $color_dar;
  }

  select {
    outline: none;
    border: none;
    padding: 12px;
    background-color: white;
  }

  span {
    color: $color_dar;
  }

  .input-alternative {
    background-color: white;
    padding: $spacing-md;
    width: 100%;
    line-height: 1.5;
    font-size: 0.8rem;
    margin-bottom: 0;
    &:hover {
      cursor: pointer;
    }
  }
}

input[type="radio"] {
  accent-color: $color_pri;
  height: 20px;
  width: 20px;
  &:hover {
    cursor: pointer;
  }
}

.index-icon {
  display: block;
  margin-left: $spacing-md;
  margin-right: $spacing-md;
  text-align: center;
  font-size: $font-size-default;
  letter-spacing: 1px;
}
