.message-container {
  position: fixed;
  top: $spacing-md;
  left: 50%;
  transform: translateX(-50%);
  padding: $spacing-lg;
  z-index: 100;
  gap: $spacing-md;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  box-shadow: $shadow-3;

  p {
    line-height: 1.4;
    font-size: 13px;
    margin-bottom: 0;
    color: $color_dar;
  }
}

.message-success {
  background-color: $color_suc-bg;
  svg {
    color: $color_suc;
  }
}
.message-info {
  background-color: $color_inf-bg;
  svg {
    color: $color_inf;
  }
}
.message-warning {
  background-color: $color_war-bg;
  svg {
    color: $color_war;
  }
}
.message-error {
  background-color: $color_err-bg;
  svg {
    color: $color_err;
  }
}
