.node-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-lg;
  margin-top: $spacing-lg;

  .node-card {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: $spacing-md;
    font-size: $font-size-sm;

    margin-top: $spacing-md;

    p {
      margin: $spacing-sm 0 0 0;
      font-size: $font-size-sm;
    }
  }
}

.node {
  background-color: #333;
  padding: $spacing-lg;
  border-radius: $spacing-sm;
}
