@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Roboto+Mono:ital,wght@0,300;0,400;1,300;1,400&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color_dar: #1f2226;
  --color_lig: #f5f5f5;
  --color_sec: #6f5cff;
  --color_sec_alt: #5549b3;
  --color_pri: #daff4f;
  --color_pri_alt: #c3e647;

  --color_suc_alt: #8fb5aa;

  --color_suc: #4caf50;
  --color_suc_bg: #ddffde;
  --color_inf: #3366ff;
  --color_inf_bg: #dce5ff;
  --color_war: #ffdd33;
  --color_war_bg: #fff8d5;
  --color_err: #ff3333;
  --color_err_bg: #ffe3e3;

  --color_dis: #d6d6d6;

  --font-small: 14px;

  --padding-sm: 4px;
  --padding-md: 10px;
  --padding-lg: 22px;
  --padding-x: 34px;

  --icon-sm: 18px;
  --icon-md: 24px;
  --icon-lg: 32px;

  --font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-code: "Roboto Mono", "Courier New", Courier, monospace;

  --shadow-1: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  --shadow-2: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --shadow-3: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  --svg-md: 21px;
  --svg-color: #1f2226;

  color-scheme: light dark;
  color: var(--color_dar);
  background-color: white;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

/* a {
  font-weight: 400;
  text-decoration: none;
  color: var(--color_dar);
}
a:hover {
  text-decoration: none;
  background-color: var(--color_pri);
} */
.dark {
  color: var(--color_dar);
}
.bg-dark {
  background-color: var(--color_dar);
}
.light {
  color: var(--color_lig);
}
.bg-light {
  background-color: var(--color_lig);
}
/* body {
  min-height: 100vh;
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--font);
} */

img {
  display: block;
  width: 100%;
}

/* h1 {
  color: var(--color_dar);
  font-family: var(--font);
  margin-bottom: 1rem;

  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  color: var(--color_dar);
  font-family: var(--font);
  margin-bottom: 1rem;

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

h3 {
  font-size: 1.1rem;
} */

p {
  color: var(--color_dar);
  margin-bottom: 1rem;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

small {
  font-size: 13px;
}
.font-xxl {
  width: 100%;
  max-width: 480px;
  color: #222;
  text-align: center;
  letter-spacing: -10px;
  margin: 20px auto 10px;
  font-size: 136px;
  line-height: 116px;
  display: block;
  font-weight: 900;
}
.font-xl {
  max-width: 1220px;
  letter-spacing: -2.5px;
  padding-top: 0;
  padding-bottom: 60px;
  padding-right: 20px;
  font-size: 58px;
  line-height: 1.1;
}

.font-x {
  text-align: left;
  letter-spacing: -1.25px;
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 38px;
  line-height: 44px;
}

@media only screen and (max-width: 900px) {
  .font-xxl {
    font-size: 125px;
  }
  .font-xl {
    font-size: 40px;
  }
  .font-x {
    font-size: 33px;
  }
}

@media only screen and (max-width: 720px) {
  .font-xxl {
    font-size: 75px;
  }
  .font-xl {
    font-size: 29px;
  }
  .font-x {
    font-size: 22px;
  }
}

b {
  font-weight: 800;
}
hr {
  border: 0;
  border-bottom: 1px dashed var(--color_dis);
  background: var(--color_lig);
}
/*  */
button,
textarea,
input {
  outline: none;
  border: none;
}
textarea {
  resize: vertical;
}
.btn {
  display: inline-flex;
  height: 44px;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  font-family: var(--font);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
  letter-spacing: 0.24px;
}
.btn-primary {
  background: var(--color_pri);
  color: var(--color_dar);
}
.btn-secondary {
  background-color: var(--color_sec);
  color: var(--color_lig);
}
.btn-light {
  background-color: var(--color_lig);
  color: var(--color_dar);
}
.btn-dark {
  background-color: var(--color_dar);
  color: var(--color_lig);
}
.btn-full {
  width: 100%;
}
.btn svg {
  width: var(--svg-md);
  height: var(--svg-md);
  flex-shrink: 0;
  fill: var(--svg-color);
}
.btn:hover {
  cursor: pointer;
}
/*  */
/*  */
/*  */
/*  */
/*  */
.input-container {
  display: grid;
  gap: 5px;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color_dis);
}
.input-field {
  display: flex;
  height: 44px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  gap: 10px;

  background: var(--color_lig);
  color: var(--color_dar);
}

.input-field svg {
  width: var(--svg-md);
  height: var(--svg-md);
  flex-shrink: 0;
  fill: var(--svg-color);
}
.input-label {
  font-size: var(--font-small);
}
.input {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;

  background: var(--color_lig);
  color: var(--color_dar);

  font-family: var(--font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.input:hover {
  cursor: pointer;
}
.input:focus,
.input:active,
.textarea:focus,
.textarea:active {
  border-bottom: 1px solid var(--color_pri);
}
.input-checkbox-field {
  cursor: pointer;
  width: 100%;
  padding: 14px;
}
.input-checkbox-field span {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.input-field.selected {
  background-color: var(--color_pri);
}

input[type="radio"] {
  accent-color: var(--color_pri);
  height: 18px;
  width: 18px;
  margin: 5px;
}

.input-field-radio-label {
  flex: 1;
  cursor: pointer;
  padding: var(--padding-md) 0;
}
.input-field-radio-label:hover {
  background-color: var(--color_pri);
}
/*  */
.textarea {
  padding: 10px;
  width: 100%;

  background: var(--color_lig);
  color: var(--color_dar);

  font-family: var(--font-code);
  font-size: var(--font-small);
  font-style: normal;
  font-weight: 400;
}
/*  */
/* .navigation-container {
  width: 100%;
  display: grid;
  justify-content: center;
}

@media only screen and (max-width: 720px) {
  .navigation-container ul {
    display: flex;
    align-items: center;
  }
} */

.navigation-container ul li a {
  padding: var(--padding-md);
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.navigation-container ul li a.active {
  color: var(--color_pri);
}
.navigation-container ul li a svg {
  width: 24px;
  height: 24px;
}
/*  */
.logo {
  padding: var(--padding-lg);
}
@media only screen and (max-width: 720px) {
  .logo {
    width: 200px;
  }
}
.logo:hover {
  cursor: pointer;
}
.logo svg {
  display: block;
  width: 100%;
  height: auto;
}
.logo:hover {
  background-color: var(--color_pri);
}
/*  */
.aside {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: var(--padding-lg);
}
@media only screen and (max-width: 720px) {
  .aside {
    gap: var(--padding-sm);
  }
}
.avatar {
  border: 3px solid var(--color_pri);
  border-radius: 50%;
  height: 74px;
  width: 74px;
}
/*  */
.progress-container {
  display: grid;
  width: 100%;
  padding: var(--padding-lg);
  margin-bottom: var(--padding-lg);
  box-shadow: var(--shadow-2);
}
.progress-container p {
  margin: 0 0 var(--padding-md);
}
.progress {
  width: 100%;
  height: 5px;
  outline: 1px solid var(--color_dar);

  background: var(--color_pri);
  color: var(--color_suc_alt);
}
.progress::-moz-progress-bar {
  background: var(--color_suc_alt);
}
.progress::-webkit-progress-value {
  background: var(--color_pri);
}
.progress::-webkit-progress-bar {
  background: var(--color_dar);
}
/*  */
.padding-sm {
  padding: var(--padding-sm);
}
.padding-md {
  padding: var(--padding-md);
}
.padding-lg {
  padding: var(--padding-lg);
}
.padding-x {
  padding: var(--padding-x);
}
/*  */
.code {
  font-family: var(--font-code);
  font-size: var(--font-small);
}
/*  */
.question {
  padding: 10px;
  background: var(--color_lig);
  margin-bottom: var(--padding-md);
  display: flex;
  justify-content: space-between;
  font-size: var(--font-small);
}
/*  */
.form {
  display: block;
  max-width: 22rem;
  width: 100%;
  margin: 2px;
  padding: var(--padding-lg);
  box-shadow: var(--shadow-2);
}
/*  */

body {
  overflow-y: scroll;
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color_pri);
}
body::-webkit-scrollbar-track {
  background-color: var(--color_dar);
}
/*  */
.section {
  margin: var(--padding-lg) 0;
  padding: var(--padding-lg) 0;
}

/*  */
.node-container {
  display: flex;
  gap: var(--padding-lg);
}
@media only screen and (max-width: 720px) {
  .node-container {
    flex-direction: column;
  }
}
.node {
  padding: var(--padding-lg);
  background-color: var(--color_lig);
  border-radius: var(--padding-md);
}

.node p {
  opacity: 0.8;
}
.node-card {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: var(--padding-lg);
}
.node-card b,
.node-card p {
  font-size: var(--font-small);
}
.node-card > div {
  text-align: left;
}

/*  */
.land-image {
  border-radius: var(--padding-sm);
  border: 1px solid var(--color_lig);
  box-shadow: var(--shadow-1);
}

.footer {
  background-color: var(--color_dar);
  color: var(--color_lig);
  padding: var(--padding-lg);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: var(--padding-lg) 0 0 0;
}
.footer-menu {
  margin-top: var(--padding-lg);
  margin-bottom: var(--padding-lg);
  display: grid;
  gap: var(--padding-md);
}
.footer-menu li {
  font-size: var(--font-small);
}
@media only screen and (max-width: 900px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 720px) {
  .footer {
    grid-template-columns: 1fr;
  }
}

/*  */
.message-container {
  position: fixed;
  top: var(--padding-sm);
  left: 50%;
  transform: translateX(-50%);
  padding: var(--padding-md);
  box-shadow: var(--shadow-3);
  z-index: 100;

  display: flex;
  gap: var(--padding-md);
  align-items: center;
}
.message-container svg {
  width: var(--icon-lg);
  height: var(--icon-lg);
}
.message-container p {
  font-size: var(--font-small);
  margin-bottom: var(--padding-sm);
}

.message-success,
.message-success p {
  color: var(--color_suc);
  background-color: var(--color_suc_bg);
}
.message-info,
.message-info p {
  color: var(--color_inf);
  background-color: var(--color_inf_bg);
}
.message-warning,
.message-warning p {
  color: var(--color_war);
  background-color: var(--color_war_bg);
}
.message-error,
.message-error p {
  color: var(--color_err);
  background-color: var(--color_err_bg);
}
