@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Roboto+Mono:ital,wght@0,300;0,400;1,300;1,400&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color_dar: #1f2226;
  --color_lig: #f5f5f5;
  --color_dis: #d6d6d6;
  --color_sec: #6f5cff;
  --color_sec_alt: #5549b3;
  --color_pri: #daff4f;
  --color_pri_alt: #c3e647;
  --color_suc: #51a68e;
  --color_suc_alt: #8fb5aa;

  --font-small: 14px;

  --padding-sm: 4px;
  --padding-md: 10px;
  --padding-lg: 22px;

  --font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-code: "Roboto Mono", "Courier New", Courier, monospace;

  --shadow-1: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  --shadow-2: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --shadow-3: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  --svg-md: 21px;
  --svg-color: #1f2226;

  color-scheme: light dark;
  color: var(--color_dar);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 400;
  text-decoration: none;
  color: var(--color_dar);
}
a:hover {
  text-decoration: none;
  background-color: var(--color_pri);
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--font);
}

h1 {
  color: var(--color_dar);
  font-family: var(--font);
  margin-bottom: 1rem;

  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  color: var(--color_dar);
  font-family: var(--font);
  margin-bottom: 1rem;

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

h3 {
  font-size: 1.1rem;
}

p {
  color: var(--color_dar);
  margin-bottom: 1rem;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

small {
  font-size: 13px;
}

hr {
  border: 0;
  border-bottom: 1px dashed var(--color_dis);
  background: var(--color_lig);
}
/*  */
button,
textarea,
input {
  outline: none;
  border: none;
}
textarea {
  resize: vertical;
}
.btn {
  display: flex;
  height: 44px;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  background: var(--color_pri);
  color: var(--color_dar);

  font-family: var(--font);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
  letter-spacing: 0.24px;
}
.btn-full {
  width: 100%;
}
.btn svg {
  width: var(--svg-md);
  height: var(--svg-md);
  flex-shrink: 0;
  fill: var(--svg-color);
}
.btn:hover {
  cursor: pointer;
}
/*  */
.input-container {
  display: grid;
  gap: 5px;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color_dis);
}
.input-field {
  display: flex;
  height: 44px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  gap: 10px;

  background: var(--color_lig);
  color: var(--color_dar);
}

.input-field svg {
  width: var(--svg-md);
  height: var(--svg-md);
  flex-shrink: 0;
  fill: var(--svg-color);
}
.input-label {
  font-size: var(--font-small);
}
.input {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;

  background: var(--color_lig);
  color: var(--color_dar);

  font-family: var(--font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.input:focus,
.input:active,
.textarea:focus,
.textarea:active {
  border-bottom: 1px solid var(--color_pri);
}
.input-checkbox-field {
  cursor: pointer;
  width: 100%;
  padding: 14px;
}
.input-checkbox-field span {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.input-field.selected {
  background-color: var(--color_pri);
}

input[type="radio"] {
  accent-color: var(--color_pri);
  height: 14px;
  width: 14px;
  margin: 5px;
}
/*  */
.textarea {
  padding: 10px;
  width: 100%;

  background: var(--color_lig);
  color: var(--color_dar);

  font-family: var(--font-code);
  font-size: var(--font-small);
  font-style: normal;
  font-weight: 400;
}
/*  */
.navigation-container {
  width: 100%;
  display: grid;
  justify-content: center;
}
.navigation-container ul li a {
  padding: var(--padding-md);
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.navigation-container ul li a.active {
  color: var(--color_pri);
}
.navigation-container ul li a svg {
  width: 32px;
  height: 32px;
}
/*  */
.logo {
  padding: var(--padding-lg);
}
.logo:hover {
  cursor: pointer;
}
.logo svg {
  display: block;
  width: 100%;
  height: auto;
}
.logo:hover {
  background-color: var(--color_pri);
}
/*  */
.aside {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: var(--padding-lg);
}
.avatar {
  border: 3px solid var(--color_pri);
  border-radius: 50%;
  height: 74px;
  width: 74px;
}
/*  */
.progress-container {
  display: grid;
  width: 100%;
  padding: var(--padding-lg);
  margin-bottom: var(--padding-lg);
  box-shadow: var(--shadow-2);
}
.progress-container p {
  margin: 0 0 var(--padding-sm);
  font-family: var(--font-code);
}
.progress {
  border: none;
  width: 100%;
  height: 4px;

  background: var(--color_pri);
  color: var(--color_suc_alt);
}
.progress::-moz-progress-bar {
  background: var(--color_suc_alt);
}
.progress::-webkit-progress-value {
  background: var(--color_pri);
}
.progress::-webkit-progress-bar {
  background: var(--color_dar);
}
/*  */
.padding-sm {
  padding: var(--padding-sm);
}
.padding-md {
  padding: var(--padding-md);
}
.padding-lg {
  padding: var(--padding-lg);
}
/*  */
.code {
  font-family: var(--font-code);
  font-size: var(--font-small);
}
/*  */
.question {
  padding: 10px;
  background: var(--color_lig);
  margin-bottom: var(--padding-md);
  display: flex;
  justify-content: space-between;
}
/*  */
.form {
  display: block;
  max-width: 22rem;
  width: 100%;
  margin: 2px;
  padding: var(--padding-lg);
  box-shadow: var(--shadow-2);
}
/*  */

body {
  overflow-y: scroll;
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color_pri);
}
body::-webkit-scrollbar-track {
  background-color: var(--color_dar);
}
