@media screen and (max-width: 720px) {
  .navigation {
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  .grid-2_r_1 {
    grid-template-columns: 1fr;
  }
  .avatar {
    width: 80px;
    height: 80px;
  }
  .node-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .order-1 {
    order: -1;
  }
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-menu {
    margin-bottom: $spacing-lg;
  }
}

@media screen and (max-width: 560px) {
  .footer {
    grid-template-columns: repeat(1, 1fr);
  }
}
