$spacing-sm: 4px;
$spacing-md: 12px;
$spacing-lg: 22px;
$spacing-x: 40px;

$font-size-default: 1rem;

$font-size-sm: 0.75rem;
$font-size-md: 1.333rem;
$font-size-lg: 1.777rem;
$font-size-x: 2.369rem;
$font-size-xl: 3.157rem;
$font-size-xxl: 4.209rem;

$icon-size-sm: 18px;
$icon-size-md: 24px;
$icon-size-lg: 32px;
