$font-sans: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-code: "Roboto Mono", "Courier New", Courier, monospace;

$shadow-1: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
$shadow-2: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$shadow-3: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
